:root {
    --darkest: #2C3333;
    --dark: #395B64;
    --light: #A5C9CA;
    --lightest: #E7F6F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.1;
    font: inherit;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
}

.working-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark);

}

.header {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    text-align: center;
    background-color: var(--darkest);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: clamp(.8rem, 1vh, 1.2rem);
}

.main {
    padding: 20px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    /* min-height: 100%; */
    background-color: var(--dark);

}

.you-comp {
    display: flex;
    justify-content: center;
    gap: 15vw;
    color: var(--lightest);
}

.you, .computer {
    font-size: clamp(1.5rem, 2vw, 3rem);
}

@media (max-width: 350px) {
    .you, .computer {
        font-size: clamp(.9rem, 2vw, 3rem);
    }
    
}

.you-div,
.computer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.you-pick,
.computer-pick {
    font-size: clamp(3.5rem,5vw,5rem);
}

.computer-pick {
    rotate: -0.25turn;
    transition: rotate 120ms ease;
}

.you-pick {
    transform: scaleX(-1); 
    rotate: 0.25turn;
    transition: rotate 120ms ease;
}


.weapons {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.weapon{
    background-color: var(--light);
    padding: 1.2rem;
    font-size: clamp(2rem,5vw,5rem);
    border-radius: 30px;
    aspect-ratio: 1;
    cursor: pointer;
}

.weapon:hover {
    background-color: var(--darkest);
}

.parag {
    font-size: 1rem;
    text-align: center;
    margin-top: 2vh;
    color: var(--lightest);
}

.footer {
    background-color: var(--darkest);
    text-align: center;
    color: var(--lightest);
    font-size: small;
    padding: .5rem;
    width: 100vw;
    font: .8rem;
}

.game-over {
    width: max-content;
    height: max-content;
    border-radius: 3rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 3rem;
    font-size: larger;
    font-weight: 900;
    color: var(--lightest);
    background-image: linear-gradient(to bottom, var(--darkest), var(--dark));
    box-shadow: 0 0.5rem 0.5rem 0.1rem var(--lightest);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#btn-play-again {
    color: var(--lightest);
    background-color: var(--dark);
    border: 0;
    border-radius: 2rem;
    padding: .5rem 1rem;
    box-shadow: 0 0.5rem 0.5rem 0.1rem var(--lightest);
}

#btn-play-again:hover {
    color: var(--dark);
    background-color: var(--lightest);
    box-shadow: 0 0.5rem 0.5rem 0.1rem var(--darkest);
}

.bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}