:root {
    --darkest: #2C3333;
    --dark: #395B64;
    --light: #A5C9CA;
    --lightest: #E7F6F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.1;
    font: inherit;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
}

.working-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark);

}

.header {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    text-align: center;
    background-color: var(--darkest);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: clamp(.8rem, 1vh, 1.2rem);
}

.main {
    padding: 20px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    /* min-height: 100%; */
    background-color: var(--dark);

}

.you-comp {
    display: flex;
    justify-content: center;
    gap: 15vw;
    color: var(--lightest);
}

.you, .computer {
    font-size: clamp(1.5rem, 2vw, 3rem);
}

@media (max-width: 350px) {
    .you, .computer {
        font-size: clamp(.9rem, 2vw, 3rem);
    }
    
}

.you-div,
.computer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3vh;
}

.weapons {
    display: flex;
    justify-content: center;
    gap: 5vw;
}


.you-pick,
.computer-pick {
    padding: 0.4rem;
    font-size: clamp(3.5rem,5vw,5rem);
    border-radius: 5vw;
}

.weapon{
    background-color: var(--light);
    padding: 1rem;
    font-size: clamp(2rem,5vw,5rem);
    border-radius: 30px;
}

.weapon:hover {
    background-color: var(--darkest);
}

.parag {
    font-size: 1rem;
    text-align: center;
    margin-top: 2vh;
    color: var(--lightest);
}

.footer {
    background-color: var(--darkest);
    text-align: center;
    color: var(--lightest);
    font-size: small;
    padding: .5rem;
    width: 100vw;
    font: .8rem;
}

